<p>dynamic-scroll works!</p>

<div
  #wrapper1
  style="overflow: auto; height: 150px; width: 14%"
  (scroll)="getScroll1($event)"
>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{ row.name }}</td>
        <td>{{ row.id }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div
  #wrapper2
  style="overflow: auto; height: 150px; width: 14%; margin-top: 20px;"
  (scroll)="getScroll2($event)"
>
  <table>
    <thead>
      <tr>
        <td> Studen Name</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{ row.name }}</td>
        <td>{{ row.id }}</td>
      </tr>
    </tbody>
  </table>
</div>
